In [1]:
# write a code to print "Hello World"
x = "Hello World"
print(x)

Hello World

In [3]:
# write a code to show the three major types of data
y = 3
z = "Prisca"
w = 5.679
print(type(y))
print(type(z))
print(type(w))

<class 'int'>
<class 'str'>
<class 'float'>

In [16]:
# write a code to check for two numbers which is greater
def greater(a,b):
    if a>b:
        return a
    else:
        return b

print(greater(20,20.5))

20.5

In [13]:
# write a code to check if "q"is present in "question"
word = "question"
letter = "q"
if letter in word:
    print(letter,"is in",word)
else:
        print(letter,"is not in",word)

q is in question

In [17]:
myTuple = (2, 3, 5, "red", "blue")
myList = [3,"Jane", "Anita", "Victor"]
myDict = {"Name": "Victor", "Age": 21, "Class": "500 Level"}
print(type(myTuple))
print(type(myList))
print(type(myDict))

<class 'tuple'>
<class 'list'>
<class 'dict'>

In [20]:
# User input
studentscores = [85,90,75,99,100,64,55,43,42,40,25]
print(studentscores.sort())

None

In [31]:
# program to add Natural numbers
# numbers up to 1000
#num
num = 1000
sums= 0
counter = 1
while counter <= num:
    sums = sums + counter
    counter += 1

print(sums)

500500

In [32]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [34]:
import numpy as np
arr = np.array([-2,-3,-4])
abs(arr)

array([2, 3, 4])

In [39]:
import math
math.sqrt(9)
math.log(1,10)
print(math.sqrt(9))
print(math.log(1, 10))

3.0
0.0

In [6]:
x = int(input("please enter your number: "))
if x > 45:
    print("wow!")
    
elif x == 24:
    print("great")

elif x <= 15:
    print("fire")
    
else:
    print("crunchy")

please enter your number: 24
great

In [16]:
# creata a list, then sort and reverse sort the list
students_scores = [67,89,45,68,95,88,73,75,56,39,40,34]
type(students_scores)

students_scores.sort()
print(students_scores)
students_scores.reverse()
print(students_scores)

[34, 39, 40, 45, 56, 67, 68, 73, 75, 88, 89, 95]
[95, 89, 88, 75, 73, 68, 67, 56, 45, 40, 39, 34]

In [120]:
for i in range(4):
    print(("*")*20)

********************
********************
********************
********************

In [121]:
for i in range(6):
    print(("*")*(i+1))

*
**
***
****
*****
******

In [124]:
 help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In [60]:
x = int(input())
y = int(input())
z = int(input())
w = int(input())
my_average = (x+y+z+w)/4
my_total = x+y+z+w
print(my_average)
print(my_total)

34
45
67
89
58.75
235

In [105]:
x = int(input("enter the value of x:"  ))
import math
math.sqrt(x)
print("The square root of", x, "is", int(math.sqrt(x)))

enter the value of x:9
The square root of 9 is 3

In [104]:
x = int(input("enter the value of x :" ))
y = x**2
print("The square of", x , "is",  y)

enter the value of x :9
The square of 9 is 81

In [89]:
def Math_operation(x,y,z,w):
    operation = (x-y)/((z*w)+5)
    return operation

In [90]:
Math_operation(512,282,47,48)

0.1017249004865104

In [91]:
round(Math_operation(512,282,47,48),5)

0.10172

In [107]:
weight_Kilo = int(input("enter weight in kilogram:" ))
Kilo_to_Pounds = (2.2 * weight_Kilo)
weight_Pounds = Kilo_to_Pounds
print(weight_Pounds)

enter weight in kilogram:100
220.00000000000003

In [109]:
for i in range(10):
    num = int(input("enter number:"))
    print("The square of your number is", num*num)
print("The loop is now done.")

enter number:4
The square of your number is 16
enter number:5
The square of your number is 25
enter number:6
The square of your number is 36
enter number:7
The square of your number is 49
enter number:8
The square of your number is 64
enter number:9
The square of your number is 81
enter number:1
The square of your number is 1
enter number:2
The square of your number is 4
enter number:3
The square of your number is 9
enter number:10
The square of your number is 100
The loop is now done.

In [117]:
print("A")
print("B")
for i in range(5):
    print("C")
for i in range(5):
    print("D")
print("E")

A
B
C
C
C
C
C
D
D
D
D
D
E

In [118]:
for i in range(5,0,-1):
    print(i, end=" ") #the end= " " statement just keeps everthing on the same line.
print("Blast off!")

5 4 3 2 1 Blast off!

In [122]:
for i in range(100):
    print(i+1, "Victor Ahaji")

1 Victor Ahaji
2 Victor Ahaji
3 Victor Ahaji
4 Victor Ahaji
5 Victor Ahaji
6 Victor Ahaji
7 Victor Ahaji
8 Victor Ahaji
9 Victor Ahaji
10 Victor Ahaji
11 Victor Ahaji
12 Victor Ahaji
13 Victor Ahaji
14 Victor Ahaji
15 Victor Ahaji
16 Victor Ahaji
17 Victor Ahaji
18 Victor Ahaji
19 Victor Ahaji
20 Victor Ahaji
21 Victor Ahaji
22 Victor Ahaji
23 Victor Ahaji
24 Victor Ahaji
25 Victor Ahaji
26 Victor Ahaji
27 Victor Ahaji
28 Victor Ahaji
29 Victor Ahaji
30 Victor Ahaji
31 Victor Ahaji
32 Victor Ahaji
33 Victor Ahaji
34 Victor Ahaji
35 Victor Ahaji
36 Victor Ahaji
37 Victor Ahaji
38 Victor Ahaji
39 Victor Ahaji
40 Victor Ahaji
41 Victor Ahaji
42 Victor Ahaji
43 Victor Ahaji
44 Victor Ahaji
45 Victor Ahaji
46 Victor Ahaji
47 Victor Ahaji
48 Victor Ahaji
49 Victor Ahaji
50 Victor Ahaji
51 Victor Ahaji
52 Victor Ahaji
53 Victor Ahaji
54 Victor Ahaji
55 Victor Ahaji
56 Victor Ahaji
57 Victor Ahaji
58 Victor Ahaji
59 Victor Ahaji
60 Victor Ahaji
61 Victor Ahaji
62 Victor Ahaji
63 Victor Ahaji
64 Victor Ahaji
65 Victor Ahaji
66 Victor Ahaji
67 Victor Ahaji
68 Victor Ahaji
69 Victor Ahaji
70 Victor Ahaji
71 Victor Ahaji
72 Victor Ahaji
73 Victor Ahaji
74 Victor Ahaji
75 Victor Ahaji
76 Victor Ahaji
77 Victor Ahaji
78 Victor Ahaji
79 Victor Ahaji
80 Victor Ahaji
81 Victor Ahaji
82 Victor Ahaji
83 Victor Ahaji
84 Victor Ahaji
85 Victor Ahaji
86 Victor Ahaji
87 Victor Ahaji
88 Victor Ahaji
89 Victor Ahaji
90 Victor Ahaji
91 Victor Ahaji
92 Victor Ahaji
93 Victor Ahaji
94 Victor Ahaji
95 Victor Ahaji
96 Victor Ahaji
97 Victor Ahaji
98 Victor Ahaji
99 Victor Ahaji
100 Victor Ahaji

In [138]:
for i in range(8):
    print("Ahaji Victor", end=" ")
for i in range(8):
    print("Ahaji Victor")

Ahaji Victor Ahaji Victor Ahaji Victor Ahaji Victor Ahaji Victor Ahaji Victor Ahaji Victor Ahaji Victor Ahaji Victor
Ahaji Victor
Ahaji Victor
Ahaji Victor
Ahaji Victor
Ahaji Victor
Ahaji Victor
Ahaji Victor

In [143]:
for i in range(20):
    print(i+1, "---", (i+1)**2)

1 --- 1
2 --- 4
3 --- 9
4 --- 16
5 --- 25
6 --- 36
7 --- 49
8 --- 64
9 --- 81
10 --- 100
11 --- 121
12 --- 144
13 --- 169
14 --- 196
15 --- 225
16 --- 256
17 --- 289
18 --- 324
19 --- 361
20 --- 400